html,
p {
  margin: 0;
  padding: 0;
}

.profile-section {
  position: relative;
}

.profile-title {
  color: #fb6107;
  font-size: 2.5em;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.profile-section p {
  font-size: 1em;
  letter-spacing: 0.25px;
}

.profile-section i {
  font-size: large;
}
.profile-section + .profile-section {
  margin-top: 40px;
}

.profile-section-description {
  margin-bottom: 40px;
}

.profile-a {
  border-bottom: 2px dotted #b71c1c;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
a:link {
  color: inherit;
  text-decoration: none;
}
