.app-container {
  height: 100vh;
}

.app-profile {
  padding: 80px;
  z-index: 2;
  width: 66%;
  position: relative;
  left: 33%;
}

.sticky-button {
  -moz-align-items: center;
  -moz-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  background-color: #c5c5c5;
  bottom: 10px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 999;
  font-size: 20px;
  transition: all 0.3s;
}

.sticky-button i:hover {
  cursor: pointer;
}

.sticky-button:hover {
  background-color: #16a6b6;
}

.sticky-button i {
  color: white;
  font-size: normal;
  transition: 0.2s ease-in-out;
}

.sticky-mobile {
  display: none;
}
