.app-container {
  height: 100vh;
}

.app-profile {
  padding: 80px;
  z-index: 2;
  width: 66%;
  position: relative;
  left: 33%;
}

.sticky-button i:hover {
  cursor: pointer;
}

.sticky-button i {
  color: white;
  font-size: normal;
  transition: 0.2s ease-in-out;
}

.sticky-mobile {
  display: none;
}
