.project-portfolio {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  transition: all 0.375s ease-in-out;
  min-height: 100vh;
  background-color: #333333;
  margin: 0;
}

.portfolio-title-top:lang(ch) {
  font-size: 70px;
  line-height: 1.25em;
}

button span:lang(ch) {
  font-size: 20px;
  line-height: 1.4em;
}

body:lang(ch) {
  font-family: "FangSong", "仿宋", STFangSong, "华文仿宋", "KaiTi", "楷体",
    STKaiti, "华文楷体";
}

.profile-section h2:lang(ch) {
  font-size: 16px;
}

h1:lang(ch) {
  font-family: "FangSong", STFangsong;
}

.content-header:lang(ch) {
  font-size: 18px;
}

.profile-section p:lang(ch) {
  font-size: 1.25em;
}

.project p:lang(ch) {
  font-size: 16px;
}

p a:lang(ch) {
  font-size: 0.9em;
}

li a:lang(ch) {
  font-size: 14px;
}

.view a:lang(ch) {
  font-size: 14px;
}

.goodbye {
  display: none !important;
}

.wrapper > * {
  background-color: #dddbf1;
  border-radius: 1px;
  box-sizing: border-box;
}

.wrapper {
  grid-column: 1 / span 24;
  grid-row: 1 / span 24;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

@media (min-width: 200px) {
  .wrapper {
    grid-gap: 5px;
  }
  .box p {
    font-size: 15px;
    font-weight: 400px !important;
    line-height: 1.25;
    padding: 15px;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
  }
  .box h1 {
    font-size: 30px;
    margin-bottom: -5px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: "Alegreya", serif;
    font-weight: 700;
    margin: 0.5em 0 0.5em 0;
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-gap: 5px;
  }
  .box p {
    font-size: 1em;
  }
  .box h1 {
    font-size: 2em;
  }

  .animated {
    min-width: 60vw;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-gap: 0px;
    grid-template-rows: repeat(12, [row-start] 1fr);
  }
  .box p {
    font-size: 1.1em;
  }
  .box h1 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
  }
  .animated {
    min-width: 40vw;
  }
}
