@media (max-width: 12999px) {
  .app-portfolio-container {
    width: 33%;
    position: fixed;
    height: 100vh;
    left: 0;
  }
  .project-image {
    height: 250px;
  }

  .profile-a {
    font-size: 12px;
  }
  .profile-a:lang(ch) {
    font-size: 14px;
  }
}
@media (max-width: 1299px) {
  .timeline-header,
  .timeline-subheader {
    display: block;
    margin-bottom: 0;
  }

  .content-title,
  .content-details,
  .subheader-details,
  .project-name,
  .project-details,
  .project-description {
    display: block;
  }

  .project-details li {
    display: inline-block;
    margin-top: 10px;
  }

  .content-title,
  .subheader-title,
  .timeline-header {
    margin-bottom: 10px;
  }
}

/*

    Max Width: 1024px

*/

@media (max-width: 1024px) {
  .app-portfolio-container {
    display: block;
    width: 100%;
    height: 500px;
    position: relative;
  }

  .app-profile {
    display: block;
    width: 100%;
    left: 0;
  }

  .project-description {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .project-name,
  .project-details {
    display: flex;
  }

  .project-details {
    justify-content: flex-end;
  }

  .sticky-default {
    display: none;
  }

  .sticky-mobile {
    display: block;
  }
}

/*

    Max Width: 659px

*/

@media (max-width: 659px) {
  .timeline-header,
  .timeline-subheader {
    display: block;
    margin-bottom: 0;
  }

  .content-title,
  .content-details,
  .subheader-details,
  .project-name,
  .project-details,
  .project-description {
    display: block;
  }

  .project-details li {
    display: inline-block;
    margin-top: 10px;
  }

  .content-title,
  .subheader-title,
  .timeline-header {
    margin-bottom: 10px;
  }

  .portfolio-contact ul li {
    margin: 2.5px;
  }

  .portfolio-contact-list li {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.2s ease-in-out;
  }

  .portfolio-contact-list a {
    padding: 10px;
  }

  .portfolio-contact-list i {
    font-size: medium;
    margin-right: 0;
  }
  .portfolio-contact-list li:hover {
    color: rgba(255, 255, 255, 0.55);
    transition: 0.2s ease-in-out;
  }

  .i-label {
    display: none;
  }

  .project-image {
    height: 175px;
  }
}

@media (max-width: 499px) {
  .project-description,
  .project-name {
    display: block;
  }

  .project-details {
    justify-content: left;
  }

  .sticky-button {
    width: 40px;
    height: 40px;
  }
  .project-image {
    height: 150px;
  }
}

@media (max-width: 449px) {
  .app-profile {
    padding: 50px 40px 40px 30px;
  }
  .bulleted {
    margin-left: -10px;
  }

  .project-image {
    height: 125px;
  }
}

@media (max-width: 399px) {
  .resume-download {
    padding: 10px;
  }
  .portfolio-title-top {
    margin-bottom: -20px;
  }

  .portfolio-title-upper {
    display: block;
    margin-bottom: -10px;
  }

  .portfolio-title-lower {
    margin-left: 10px;
  }

  .portfolio-title h1 {
    font-size: 50px;
  }

  .profile-a {
    border-bottom: 2px dotted #b71c1c;
    font-size: 0.75em;
  }

  .profile-a:lang(ch) {
    border-bottom: 2px dotted #b71c1c;
    font-size: 12px;
  }
}

@media (max-height: 499px) {
  .app-portfolio-container {
    height: 100vh;
  }
}

@media (max-height: 449px) {
  .app-portfolio {
    padding: 40px;
  }

  .resume-download {
    padding: 10px;
  }

  .portfolio-title {
    margin-top: -10px;
  }
  .portfolio-title h1 {
    font-size: 50px;
  }

  .portfolio-title-top {
    margin-bottom: -20px;
  }

  .portfolio-title-upper {
    display: block;
    margin-bottom: -10px;
  }

  .portfolio-title-lower {
    margin-left: 10px;
  }
}

@media (max-height: 379px) {
  .app-portfolio {
    padding: 20px;
  }

  .app-profile {
    padding: 60px 40px 40px 40px;
  }
}

@media (max-height: 299px) {
  .app-portfolio {
    padding: 20px;
  }
}

@media (max-height: 249px) {
  .app-portfolio-container {
    height: 249px;
  }
}
